<div class="container">
  <h1><span>{{'Contact Us'|t}}</span></h1>
  <div class="success-message" id="successMessage">
      {{'Thank you for your message! We\'ll get back to you soon.'|t}}
  </div>
  <article{{ attributes }}>
    <div{{ content_attributes }}>
      {{ content }}
    </div>
  </article>
</div>
