{% import _self as menus %}

<nav>
  {% if items %}
    <ul class="nav-menu">
      {% for item in items %}
        <li{{ item.attributes.addClass('nav-item') }}>
          {{ link(item.title, item.url, item.attributes.addClass('nav-link')) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</nav>
<button class="mobile-menu-toggle" aria-label="{{ 'Toggle mobile menu'|t }}" aria-expanded="false" aria-controls="mobile-menu">☰</button>
<div class="mobile-menu" id="mobile-menu" aria-hidden="true">
  {% if items %}
    <ul>
      {% for item in items %}
        <li>
          {{ link(item.title, item.url, item.attributes.addClass('mobile-nav-link')) }}
          {% if item.below %}
            {{ menus.mobile_menu_links(item.below) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
{% macro menu_links(items, attributes, menu_level) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.addClass('menu', 'nav', 'menu-level-' ~ menu_level) }}>
      {% for item in items %}
        <li{{ item.attributes.addClass('menu-item') }}>
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
{% macro mobile_menu_links(items) %}
  {% import _self as menus %}
  {% if items %}
    <ul class="mobile-submenu">
      {% for item in items %}
        <li>
          {{ link(item.title, item.url) }}
          {% if item.below %}
            {{ menus.mobile_menu_links(item.below) }}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
